.deps
Makefile
autom4te.cache
autoscan.log
config.h
*~
config.*
file
nbd-client.8
nbd-server.1
stamp-h.in
stamp-h1
Doxyfile
compile
manpage.refs
manpage.links
mkinstalldirs
nbd-tester-client
nbd-client
nbd-server
doc/doxygen-output
nbd-server.config
nbd-server.5
nbd-trdump.1
*.o
nbd-client.8.in
nbd-server.1.in
nbd-server.5.in
nbd-trdump.1.in
Makefile.in
config.h.in
aclocal.m4
INSTALL
depcomp
install-sh
configure
man/*.sh
man/*.sh.in
make-integrityhuge
nbd-trdump
