*~
*.1
*.3
*.la
*.lo
*.o

.deps
.gdb_history
.libs
Makefile
Makefile.in

/local*
/nbdkit-*.tar.gz

/aclocal.m4
/autom4te.cache
/compile
/config.guess
/config.h
/config.h.in
/config.log
/config.status
/config.sub
/configure
/depcomp
/INSTALL
/install-sh
/libtool
/ltmain.sh
/missing
/src/nbdkit
/stamp-h1
/tests/disk
/tests/disk.gz
/tests/disk.xz
/tests/file-data
/tests/test-connect
/tests/test-file
/tests/test-gzip
/tests/test-xz
