.deps
Makefile
Makefile.in
aclocal.m4
autom4te.cache
autoscan.log
config.h
config.h.in
*~
config.log
config.status
configure
file
nbd-client.8
nbd-server.1
stamp-h.in
stamp-h1
Doxyfile
compile
depcomp
install-sh
manpage.refs
manpage.links
missing
mkinstalldirs
nbd-tester-client
nbd-client
nbd-server
config.guess
config.sub
doc
nbd-server.config
nbd-server.1.in
nbd-server.5.in
nbd-server.5
nbd.h
*.o
