[Unit]
Description=NBD client connection for %i
Documentation=man:nbd-client
PartOf=nbd.service
Before=dev-%i.device
[Service]
Type=forking
ExecStart=@sbindir@/nbd-client %i
[Install]
RequiredBy=dev-%i.device
