#!/usr/bin/make -f
# Sample debian/rules that uses debhelper. 
# GNU copyright 1997 by Joey Hess.
#
# This version is for a hypothetical package that builds an
# architecture-dependant package, as well as an architecture-independent
# package.

# Uncomment this to turn on verbose mode. 
#export DH_VERBOSE=1

DEB_BUILD_GNU_TYPE := $(shell dpkg-architecture -qDEB_BUILD_GNU_TYPE)
DEB_HOST_GNU_TYPE := $(shell dpkg-architecture -qDEB_HOST_GNU_TYPE)
DEB_HOST_GNU_SYSTEM := $(shell dpkg-architecture -qDEB_HOST_GNU_SYSTEM)

%:
	dh $@

override_dh_auto_configure:
	test -f nbd.h
	dh_auto_configure -- --enable-lfs --enable-syslog \
			--prefix=/ --mandir=/usr/share/man

override_dh_install:
	cp -a debian/nbd-server.conf.tmpl $(CURDIR)/debian/nbd-server/usr/share/nbd-server/
	cp debian/nbd-client.cf debian/nbd-client/usr/share/nbd-client/
	dh_install --sourcedir=debian/tmp -s

override_dh_installinit:
	dh_installinit -p nbd-client --no-start -- start 41 S . start 34 0 6 .
	install -m 755 debian/nbd-client.initrd debian/nbd-client/usr/share/initramfs-tools/scripts/local-top/nbd
	install -m 755 debian/nbd-client.initramfs-hook debian/nbd-client/usr/share/initramfs-tools/hooks/nbd
	dh_installinit -p nbd-server

override_dh_gencontrol:
	dh_gencontrol -s

override_dh_builddeb:
	dh_builddeb -s

debian/po/templates.pot: debian/nbd-client.templates debian/nbd-server.templates
	@debconf-updatepo
