#!/usr/bin/make -f
# Uncomment this to turn on verbose mode. 
#export DH_VERBOSE=1

%:
	dh $@

override_dh_auto_configure:
	test -f nbd.h
	dh_auto_configure -- --enable-lfs --enable-syslog \
			--prefix=/ --mandir=/usr/share/man

override_dh_install:
	install -m 644 debian/nbd-server.conf.tmpl $(CURDIR)/debian/nbd-server/usr/share/nbd-server/
	# It doesn't hurt to install these even if we don't build
	# nbd-client; so don't bother trying to test whether we will be
	# doing so.
	install -m 644 debian/nbd-client.cf debian/nbd-client/usr/share/nbd-client/
	install -m 755 debian/nbd-client.initrd debian/nbd-client/usr/share/initramfs-tools/scripts/local-top/nbd
	install -m 755 debian/nbd-client.initramfs-hook debian/nbd-client/usr/share/initramfs-tools/hooks/nbd
	dh_install -s

override_dh_installinit:
	dh_installinit -p nbd-client --no-start -- start 41 S . start 34 0 6 .
	dh_installinit -p nbd-server

override_dh_gencontrol:
	dh_gencontrol -s

override_dh_builddeb:
	dh_builddeb -s

debian/po/templates.pot: debian/nbd-client.templates debian/nbd-server.templates
	@debconf-updatepo
